# Ignore .env file
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# IDE - PyCharm
.idea/

# MacOS
.DS_Store

# Others
*.log
*.sql
*.sqlite
*serviceAccountKey.json

# If you're using virtualenv
venv/
myenv/
